* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px dotted; */
}

/* ----------------------------------------------NAV BAR---------------- */
.navbar {
  overflow: hidden;
  height: 63px;
  display: flex;
  align-content: center;
  width: 100%;
  font-family: gothamlight, Verdana sans-serif;
  background-color: black;
}
.navbar a {
  display: block;
  float: left;
  text-decoration: none;
  color: black;
  font-size: 17px;
  margin: 14px 16px;
}
.navbar ul {
  list-style-type: none;
}
.navbar-nav {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  align-items: center;
}
.navh1 {
  align-self: center;
  margin-left: 18vw;
  color: white;
  font-family: "Roboto", sans-serif;
}
.navbar li {
  text-align: center;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  transition: 0.3s;
  opacity: 0.9;
  white-space: nowrap;
}

.side-nav a:hover {
  font-weight: bold;
}
.navbar-nav a:hover {
  font-weight: bold;
}
.side-nav .btn-close {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 36px;
  margin-right: 50px;
}
#close {
  position: absolute;
  top: -15px;
  right: -38px;
  font-size: 36px;
  margin-right: 50px;
  color: #f15c25;
}
#a1 {
  font-size: 36px;
  color: #f15c25;
  padding-right: 0.8rem;
}

.open-slide {
  display: flex;
}

/* ---------------------MAIN CONTENT---------------------------- */

.discsintro {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.h1discs {
  display: flex;
  border-bottom: 1px solid #d3d3d3;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.h1discs h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}
.pintro {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 0 1.5rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.filter {
  height: 40px;
  background-color: #c4c4c4;
  margin: 4.5rem 1.5rem 0 1.5rem;
  display: flex;
}
.filter h3 {
  color: white;
  align-self: center;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.filtericon {
  margin-left: auto;
  padding-right: 1rem;
  align-self: center;
}

.filtericon img {
  height: 18px;
}

.sorting {
  height: 40px;
  background-color: #c4c4c4;
  margin: 1.2rem 1.5rem 0 1.5rem;
  display: flex;
}

.sorting h3 {
  color: white;
  align-self: center;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.sortingicon {
  margin-left: auto;
  padding-right: 1.5rem;
  align-self: center;
}
.sortingicon img {
  height: 22px;
}
main {
  margin-left: 10vw;
  margin-right: 10vw;
}
.maincontent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  column-gap: 2rem;
  row-gap: 5rem;
  margin-top: 4.5rem;
}

.disctemplate img {
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}
.info h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 0.2rem;
  font-size: 1.4rem;
}

.info h3 {
  margin-bottom: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.numbers {
  display: flex;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* -----------------------FILTER MENU--------------------------------- */

.filtermenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 18px;
  transition: 0.5s;
}

.filtermenu p {
  padding: 10px 10px 10px 5px;
}

.filtermenu a {
  list-style-type: none;
  text-decoration: none;
}
.type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-weight: 100;
  font-size: 1.2rem;
}

.undertype {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-bottom: 0.9rem;
}
.undertype img {
  height: 12px;
  width: 18px;
}

.titelclose {
  display: flex;
  justify-content: space-between;
  padding-left: 1.8rem;
  padding-right: 0.8rem;
  margin-bottom: 2rem;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.titelclose h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.open {
  width: 300px;
}

.type-borderdiv {
  border-bottom: 1px solid grey;
  height: 2.5rem;
  overflow: hidden;
  transition: 0.5s;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.plastic-borderdiv {
  border-bottom: 1px solid grey;
  height: 2.5rem;
  overflow: hidden;
  transition: 0.5s;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.manu-borderdiv {
  border-bottom: 1px solid grey;
  height: 2.5rem;
  overflow: hidden;
  transition: 0.5s;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}
.open-type {
  height: 9rem;
}
.open-type3 {
  height: 7rem;
}
.overalloptions {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.2;
}
.overalloptionsPlastic {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.2;
}
.overalloptionsManu {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.2;
}
.putcirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.midcirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.faircirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.discirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.puttapproachcirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.basecirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.goldcirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.optocirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.optoxcirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.latcirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.innovacirkel {
  height: 12px;
  width: 12px;
  border: 0.5px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.cirkelfill {
  border: 0px solid black;
  background-color: #f15c25;
}
/* --------------------------MEDIA QUERIES-------------------------------- */
@media (min-width: 800px) {
  .maincontent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    column-gap: 2rem;
    row-gap: 1.5rem;
    margin-top: 4.5rem;
  }

  .filterandsort {
    width: 40vw;
  }
  .discsintro {
    width: 40vw;
  }
}
